@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-home-animation {
    @apply rounded-lg sm:hover:shadow-lg sm:transition sm:ease-out delay-150 bg-blue-500 sm:hover:-translate-y-1 sm:hover:scale-110 sm:hover:bg-indigo-500 duration-500;
  }

  .icon-hover-animation {
    @apply sm:transition-all sm:ease-out sm:hover:mx-2 sm:hover:-translate-y-1 sm:hover:scale-110 duration-300;
  }

  .card-container {
    @apply flex flex-col sm:w-84 w-full gap-4 p-4 rounded-lg bg-indigo-50 border-solid border-2 sm:shadow-none shadow-md sm:hover:border-blue-400 sm:border-blue-100 border-blue-400 transition duration-300;
  }

  .card-images img {
    @apply max-w-24 max-h-24 rounded-md;
  }

  .horizontal-line {
    @apply flex justify-center self-center sm:w-28 w-14 h-px bg-gradient-to-t from-blue-200 to-purple-200;
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */