@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo-style {
    @apply font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 from-20% to-red-500;
  }

  .nav-text-style {
    @apply text-blue-900 lg:hover:text-blue-700 lg:hover:underline;
  }

  .btn-home-animation {
    @apply rounded-lg lg:hover:shadow-md transition lg:ease-out delay-150 bg-blue-500 lg:hover:-translate-y-1 lg:hover:scale-110 lg:hover:bg-blue-950 duration-300;
  }

  .icon-hover-animation {
    @apply lg:transition-all lg:ease-out lg:hover:mx-2 lg:hover:-translate-y-1 lg:hover:scale-110 duration-300;
  }

  .simple-hover-animation {
    @apply lg:transition-all lg:ease-out lg:hover:scale-125 duration-300;
  }

  .card-container {
    @apply flex flex-col sm:w-84 w-full gap-4 p-4 rounded-lg bg-indigo-50 border-solid border-2 sm:shadow-none shadow-md lg:hover:border-blue-400 lg:border-blue-100 border-blue-400 transition duration-300;
  }

  .card-images img {
    @apply max-w-24 max-h-24 rounded-md;
  }

  .card-images-menu img {
    @apply max-w-16 max-h-16 rounded-md;
  }

  .horizontal-line {
    @apply flex justify-center self-center sm:w-28 w-14 h-px bg-gradient-to-t from-blue-200 to-purple-200;
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */